.navbar {
  border-bottom: 5px solid rgb(237, 236, 236);
  
}

.navbar > img {
  padding: 20px;
}

.photogrid {
  text-align: center;
}

body {
  font-family:sans-serif;
}

.text {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 200px;
  
}

.card-images > div >img {
  margin-left: 50px;
  margin-top: 80px;
  border-radius: 10px;
  
}



.rating {
  padding-left: 50px;
  font-size: smaller;
}

.grey {
  color: gray;
}

.cards {
  display: flex;
}